* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(43, 40, 40);
    color: rgb(201, 200, 200);
}

header {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
}

#todo-input {
    width: 20%;
    height: 2rem;
    text-align: center;
    border-radius: 20px;
    border: 2px solid rgb(201, 200, 200);
}

#add-btn {
    width: 5%;
    height: 2rem;
    text-align: center;
    border-radius: 20px;
    border: 2px solid rgb(201, 200, 200);
}

footer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-div {
    border: 2px solid rgb(201, 200, 200);
    border-radius: 20px;
    width: 20%;
    padding: 7px;
}

 summary {
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
}

summary::-webkit-details-marker,
summary::marker {
    display: none;
}

details[open] .arrow {
    transform: rotate(180deg);
}

.arrow {
    transition: transform 0.3s ease;
}

details p {
    text-align: center;
    margin-top: 8px;
}


